/* pour l'animation d'accueil */
#animation{
    border:0px solid red;
    height: 3259px;
    background:transparent  url("../images/main_anim_color.svg") no-repeat center;
}

#anim_color,
#los_small,
#los_medium,
#los_large{
    height: 3259px;
}

#los_small{
    background:transparent url("../images/main_anim_small_los.svg") no-repeat center;
    position: absolute;
    width: 100%;
    z-index: 28;
}

#los_medium{
    background:transparent url("../images/main_anim_medium_los.svg") no-repeat center;
    position: absolute;
    width: 100%;
    z-index: 27;
}

#los_large{
    background:transparent url("../images/main_anim_large_los.svg") no-repeat center;
    position: absolute;
    width: 100%;
    z-index: 29;

}

#anim_color{ 
    width: 100%;
    position: absolute;
    width: 100%;
    z-index: 24;
}

#wrapper_images{
    width:940px;
    margin: 0 auto;
}

#image1,
#image2,
#image3{
    width:345px;
    height:515px;
}

#image1{
    position:relative;
    top: 604px;
    left: -45px;
    z-index:35; 
    background:transparent url("../images/image1.png") no-repeat center;

}
#image2{
    position:relative;
    top: 475px;
    left: 554px;
    z-index:36;
    background:transparent url("../images/image2.png") no-repeat center;
}
#image3{
    position:relative;
    top: 728px;
    left: 210px;
    z-index:37;
    background:transparent url("../images/image3.png") no-repeat center;

}