//90803a
//a, .btn{ @include button; }

%base-btn-ghost{
    background: transparent;
    border: 2px solid $ocre-fonce;
    color: $ocre-fonce;
    margin: 1em;
    padding: 0.5em 1em;  
    transition: background 0.25s;
    
    &:hover, &:focus{
        background: $ocre-fonce;
        color: #fff;
    }
}

.btn-small, 
.btn-medium,
.btn-large
{
    @extend %base-btn-ghost;  
}

.btn-large{
    width:100%;
    text-transform: uppercase;
}

.scroll-bas{
    text-align: center;
    transition: all 0.25s ease;
    border:0px solid red;  
    
    &:hover{
        transform: scale(2);
    }

}

.submit{}