/**************/
/* la galerie */
/**************/

/* POUR LE MENU FILTRE DE LA GALERIE */
.menu-filter{
    display: table;   /* Allow the centering to work */
	margin: 3.5rem auto;
    li{
        display: inline-block;
    }
}

.grid{
    border:0px solid red;
    text-align: center;
}

/* li.projet */
.projet{
    
    width: 240px;
    height: 360px;
    
    display: inline-block;
    
    
    
    a{
       display: table; 
       height: 360px;
        width: 100%;
        background: transparent url("../images/lozange_marron.svg") no-repeat;
        background-size: contain;
        background-position: center;
        
        
        & :hover{
            background: transparent url("../images/lozange_ocre_claire.svg") no-repeat; 
            background-size: contain;
            background-position: center;  
            .projet_titre{ color: $bordeaux;}
        }
    }
    
   
    
    /* li.projet div.projet_desc */
    .projet_desc{
        width: 100%;
        border:0px solid red;
        display: table-cell;
        vertical-align: middle;
        

        .projet_titre{
            text-align: center;
            font-size: 16px !important;
            width: 80%;
            margin: 0 auto;
            text-transform: uppercase;
            font-family: $font-family-sans-serif;
            color: #fff;//$ocre-claire;
        }

    }/* fin de projet_desc */
}/* fin de projet */

 /*.auteur a{
        background: transparent url("../images/lozange_rouge.svg") no-repeat;
        background-size: contain;
        background-position: center;
    }
    
.comedien a{
    background: transparent url("../images/lozange_marron.svg") no-repeat;
    background-size: contain;
    background-position: center;
}

.animateur a{
    background: transparent url("../images/lozange_ocre_fonce.svg") no-repeat;
    background-size: contain;
    background-position: center;
}

.radio a{
    background: transparent url("../images/lozange_ocre_claire.svg") no-repeat;
    background-size: contain;
    background-position: center;
    
    &:hover{
        background: transparent url("../images/lozange_ocre_fonce.svg") no-repeat;
        background-size: contain;
        background-position: center;
    }
}*/

/*.losange{
	margin:120px auto;
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-bottom: 200px solid $bordeaux;
	position: relative;
    top:0;
}
.losange:before{
	content:'';
	border: 1px solid #069;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-top: 200px solid $bordeaux;
	width:0;
	height:0;
	position: absolute;
	top:200px;
	left:-120px;
}*/