/**************/
/* la galerie */
/**************/

/* POUR LE MENU FILTRE DE LA GALERIE */
.menu-filter{
    display: table;   /* Allow the centering to work */
	margin: 3.5rem auto;
    text-align: center;
    line-height: 3rem;
    li{
        display: inline-block;
    }
    
    a{
        @extend %base-btn-ghost;
    }
    
    .active{
        background: $ocre-fonce;
        color: #fff;
    }
}

/*.grid{
    border:0px solid red;
    text-align: center;
}*/

.portfolioContainer{
    text-align: center;
    
    @media #{$small-only}{
        max-width:245px;
        margin: 0 auto;
    }

    @media #{$medium-only}{
        max-width:485px;
        margin: 0 auto;
    }

    @media #{$large-only} { 
        max-width:970px;
        margin: 0 auto;
    }
    

}

/* li.projet */
.home-page-projet{
    
    width: 240px;
    height: 360px;
    
    display: inline-block;
    transition: all 0.6s ;
    text-align: center;
    
    a{
       display: table; 
       height: 360px;
        width: 100%;
        background: transparent url("../images/lozange_marron.svg") no-repeat;
        background-size: contain;
        background-position: center;
        
        
        & :hover{
            background: transparent url("../images/lozange_ocre_claire.svg") no-repeat; 
            background-size: contain;
            background-position: center;  
            .projet_titre{ color: $bordeaux;}
        }
    }
    
    
    /* li.projet div.projet_desc */
    .projet_desc{
        width: 100%;
        border:0px solid red;
        display: table-cell;
        vertical-align: middle;
        

        .projet_titre{
            text-align: center;
            font-size: 16px !important;
            width: 80%;
            margin: 0 auto;
            text-transform: uppercase;
            font-family: $font-family-sans-serif;
            color: #fff;//$ocre-claire;
        }

    }/* fin de projet_desc */
}/* fin de projet */

.magnifier {
    background:rgba(237,49,49,.7) url(images/magnifier.png) no-repeat center;
    position:absolute;
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    opacity:0;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}

.entry:hover .video-hover,
.entry:hover .magnifier { opacity:1; }
 

.isotope-item {
  z-index: 2;
}
 
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
 
.isotope,
.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
}
 
.isotope {
-webkit-transition-property: height, width;
   -moz-transition-property: height, width;
        transition-property: height, width;
}
 
.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
        transition-property:         transform, opacity;
}

