/**************/
/* la galerie */
/**************/

/* POUR LE MENU FILTRE DE LA GALERIE */
.menu-filter{
    display: table;   /* Allow the centering to work */
	margin: 3.5rem auto;
    text-align: center;
    line-height: 3rem;
    li{
        display: inline-block;
    }
    
    a{
        @extend %base-btn-ghost;
    }
    
    .active-tag{
        background: $ocre-fonce;
        color: #fff;
    }
}

.grid{
    border:0px solid red;
    text-align: center;
}

/* li.projet */
.home-page-projet{
    
    width: 240px;
    height: 360px;
    
    display: inline-block;
    
    
    a{
       display: table; 
       height: 360px;
        width: 100%;
        background: transparent url("../images/lozange_marron.svg") no-repeat;
        background-size: contain;
        background-position: center;
        
        
        & :hover{
            background: transparent url("../images/lozange_ocre_claire.svg") no-repeat; 
            background-size: contain;
            background-position: center;  
            .projet_titre{ color: $bordeaux;}
        }
    }
    
    
    /* li.projet div.projet_desc */
    .projet_desc{
        width: 100%;
        border:0px solid red;
        display: table-cell;
        vertical-align: middle;
        

        .projet_titre{
            text-align: center;
            font-size: 16px !important;
            width: 80%;
            margin: 0 auto;
            text-transform: uppercase;
            font-family: $font-family-sans-serif;
            color: #fff;//$ocre-claire;
        }

    }/* fin de projet_desc */
}/* fin de projet */