/**********/
/* FOOTER */
/**********/
#last-illustr{
    position: relative;
    z-index:50;
    width: 600px;
    height: 900px;
    margin:-20em auto 0; 
    text-align: center;
    background: transparent url('../images/hyacinth@1X.gif') no-repeat;
    border:0px solid red;
}
