/**********/
/* FOOTER */
/**********/
#last-illustr{
    position: relative;
    z-index:50;
    width: 225px;
    height: 450px;
    margin:5rem auto 2rem; 
    text-align: center;
    border:0px solid red;
}

#li_footer li{
    list-style: none;
    width:100%;
    text-align: center;
    border:0px solid red;
}