/************/
/* HOMEPAGE */
/************/

/* LES BLOCS PRINCIPAUX */
.bg-bloc{
    background-color: $gris-jaune;
    outline: 1px solid $gris-jaune;
    @media #{$small-only}{
        padding: 0 1em;
    }
}
.section-content{  
    background-color: $gris-jaune;
    outline: 2px solid #F2EFE6;
}
.section-content-haut,
.section-content-bas{
    width:100%;
    border: 0px solid red;
    text-align: center;   
    img{
        width: 100%;
        height: auto;
    }
}
.section-content-bas{ transform: rotate(180deg); }

.trait-lozanges{
    background:transparent url(../images/lozange_ocre_claire.svg) repeat-x;
    height: 5rem;
    width: 20rem;
    margin: 0 auto;
    border:0px solid red;
    display: block;
}
.section-content .title{
    margin: 5rem auto 0rem;
    //text-decoration: underline #90803a;
    text-transform: uppercase;
}

.chapeau{
    font-size: 2rem; 
    margin-bottom: 2.5rem;
}

/*************/ 
/* INTRO LOGO*/
/*************/ 
#intro{
    width:100vw;
    height:93vh;
}

.top-bar-section {
    //left: 0px;
    position: relative;
    width: 80%;
    transition: left 0.3s ease-out 0s;
    margin: 0 auto;
}

#intro{
    display: table;
    width:100%;
}
#splash{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width:100%;
}

/************/
/* A PROPOS */
/************/
.section-skills{
    margin: 4em auto 8em;
}
.list_skills{
    text-align: center;
    margin:0 auto 2rem !important;
    width: 60% !important;
    
    
    li{
        text-align: center;
        color:#fff;
        border: 0px solid red;
        display: table;
        
        
        a{
            display: table-cell;
            vertical-align: middle;
            height:200px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            color:#fff;
            text-transform: uppercase;
            
            
            span{
                border:1px solid #fff;
                padding: 0.125rem 0.4rem;
                opacity:0.4;
                transition: opacity 0.25s ease;
            }
            
            &:hover{
                span{
                    opacity:1;
                }
            }
        }
        
    }/* fin de li */
    
    li:nth-child(1) a{ 
        background-image: url("../images/lozange_marron.svg");
    }
    
    li:nth-child(2) a{ 
        background-image: url("../images/lozange_rouge.svg"); 
    }
    
    li:nth-child(3) a{ 
        background-image: url("../images/lozange_ocre_fonce.svg");
    } 
    
}

/*******************************/
/*** ELEMENTS INTERMEDIAIRES ***/
/* POUR LA DECO ENTRE LES BLOCS*/
/*******************************/
.section-deco{
    width:100%;
    background: #fff url("../images/gravure_1@1X.gif") no-repeat;
    background-position: center;
    
    img{
        width:100%;
        height: auto
    }
}



/*.lozange {
	display: inline-block;
	position: relative;
	//text-indent: -9999px;
	width: 100%;
	height: 150%;
	background: url("../images/btn_lozange_marron.svg") no-repeat;
    text-align: center;
    color:#fff;
    border: 0px solid red;

     span {
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background: url("../images/btn_lozange_marron.svg") no-repeat;
        background-position:0 -360px ;
    }
}*/

/************/
/* A VENIR */
/************/
.tribe-events-list-widget h3{
    font-family:"caviar_dreamsregular", Helvetica, Roboto, Arial, sans-serif;
    font-size: rem-calc(30);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}