/************/
/* HOMEPAGE */
/************/

/* centrer le logo */
.title-area{
    width: 100% !important;
    text-align: center;
    z-index: 5;
    border:0px solid green;
    //float:inherit;
    .name{
        border: 0px solid #F00;
        position: relative;
        left: 50%;
        top: 0;
        margin: 0 -400px;
        width: 800px;
    }
}
.main-menu{
 text-align: center;
}
#menu_principal{
    display: inline-block;
    position: relative;
    z-index:10;
    top:-3em;
    border:0px solid red;
    width: 600px;
    background-color: transparent;
    
    li{background-color: transparent;}
    
    li:nth-child(2){
        padding-right:200px;
    }
}

.section-content{
    background-color: $gris-jaune;
    &:before,
    &:after,
    {
        background-image: url("../images/demi-lozange-svg");  
        width: 100%;
        height: auto;
        border:1px solid red;
    }
}


#intro{
    width:100vw;
    height:93vh;
}

.top-bar-section {
    //left: 0px;
    position: relative;
    width: 80%;
    transition: left 0.3s ease-out 0s;
    margin: 0 auto;
}

.section-deco{
    width:100vw;
    height: 100vh;
}

#intro{
    display: table;
    width:100%;
}
#splash{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width:100%;
}




#deco1{
    background: #fff url("../images/gravure_1@1X.gif") no-repeat;
    background-position: center;
}
#deco2{
    background: #fffurl("../images/gravure_1@1X.gif") no-repeat;
    background-position: center;
}
#deco3{    
    background: #fff url("../images/gravure_1@1X.gif") no-repeat;
    background-position: center;
}